# TITLE

In [ ]:
import pandas as pd
import numpy as np
import statistics as stats

## Explore Electric Vehicle Data for the State of Washington

In [25]:
electric_vehicle_df = pd.read_csv("./data/Electric_Vehicle_Population_Data.csv")

In [26]:
electric_vehicle_df.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,KM8K33AGXL,King,Seattle,WA,98103.0,2020,HYUNDAI,KONA,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,258,0,43.0,249675142,POINT (-122.34301 47.659185),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
1,1C4RJYB61N,King,Bothell,WA,98011.0,2022,JEEP,GRAND CHEROKEE,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,25,0,1.0,233928502,POINT (-122.20578 47.762405),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
2,1C4RJYD61P,Yakima,Yakima,WA,98908.0,2023,JEEP,GRAND CHEROKEE,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,25,0,14.0,229675939,POINT (-120.6027202 46.5965625),PACIFICORP,5.307700e+10
3,5YJ3E1EA7J,King,Kirkland,WA,98034.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215,0,45.0,104714466,POINT (-122.209285 47.71124),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
4,WBY7Z8C5XJ,Thurston,Olympia,WA,98501.0,2018,BMW,I3,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,97,0,22.0,185498386,POINT (-122.89692 47.043535),PUGET SOUND ENERGY INC,5.306701e+10

In [27]:
#Explore
print('Shape\n', electric_vehicle_df.shape)
print('\n')
print("Duplicates\n", electric_vehicle_df.duplicated().sum())
print('\n')
print('Null\n', electric_vehicle_df.isnull().sum())
print('\n')
print('Describe\n', electric_vehicle_df.describe())
print('\n')
print('Columns\n', electric_vehicle_df.columns)
print('\n')
print('Correlation\n', electric_vehicle_df.corr())

Shape
 (150482, 17)


Duplicates
 0


Null
 VIN (1-10)                                             0
County                                                 3
City                                                   3
State                                                  0
Postal Code                                            3
Model Year                                             0
Make                                                   0
Model                                                  0
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                         0
Base MSRP                                              0
Legislative District                                 341
DOL Vehicle ID                                         0
Vehicle Location                                       7
Electric Utility                                       3
2020 Census Tract                                      3
dtype: int64


Describe
          Postal Code     Model Year  Electric Range      Base MSRP  \
count  150479.000000  150482.000000   150482.000000  150482.000000
mean    98168.344154    2020.005436       67.877839    1312.644735
std      2473.612184       3.015209       96.230009    9231.310215
min      1730.000000    1997.000000        0.000000       0.000000
25%     98052.000000    2018.000000        0.000000       0.000000
50%     98122.000000    2021.000000       18.000000       0.000000
75%     98370.000000    2023.000000       97.000000       0.000000
max     99577.000000    2024.000000      337.000000  845000.000000

       Legislative District  DOL Vehicle ID  2020 Census Tract
count         150141.000000    1.504820e+05       1.504790e+05
mean              29.343950    2.111122e+08       5.297195e+10
std               14.824829    8.196388e+07       1.638841e+09
min                1.000000    4.385000e+03       1.081042e+09
25%               18.000000    1.693473e+08       5.303301e+10
50%               33.000000    2.150306e+08       5.303303e+10
75%               43.000000    2.399119e+08       5.305307e+10
max               49.000000    4.792548e+08       5.603300e+10


Columns
 Index(['VIN (1-10)', 'County', 'City', 'State', 'Postal Code', 'Model Year',
       'Make', 'Model', 'Electric Vehicle Type',
       'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Range',
       'Base MSRP', 'Legislative District', 'DOL Vehicle ID',
       'Vehicle Location', 'Electric Utility', '2020 Census Tract'],
      dtype='object')


Correlation
                       Postal Code  Model Year  Electric Range  Base MSRP  \
Postal Code              1.000000    0.000412       -0.002256  -0.001305
Model Year               0.000412    1.000000       -0.431344  -0.231759
Electric Range          -0.002256   -0.431344        1.000000   0.103732
Base MSRP               -0.001305   -0.231759        0.103732   1.000000
Legislative District    -0.413948   -0.009881        0.023385   0.012614
DOL Vehicle ID           0.006011    0.054987       -0.051376  -0.016019
2020 Census Tract        0.512657    0.008248       -0.002976  -0.001244

                      Legislative District  DOL Vehicle ID  2020 Census Tract
Postal Code                      -0.413948        0.006011           0.512657
Model Year                       -0.009881        0.054987           0.008248
Electric Range                    0.023385       -0.051376          -0.002976
Base MSRP                         0.012614       -0.016019          -0.001244
Legislative District              1.000000       -0.007433          -0.103499
DOL Vehicle ID                   -0.007433        1.000000           0.004461
2020 Census Tract                -0.103499        0.004461           1.000000

C:\Users\riley\AppData\Local\Temp\ipykernel_4424\1940688783.py:13: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print('Correlation\n', electric_vehicle_df.corr())

As we can see there are many 0 values throughout columns such as base MSRP and Electric Range, therefore, we will discard these columns as they are not relevant to our research. Additionally, location information is captured in several locations such as county, postal code, vehicle location, and 2020 Census Tract. We should only consider County from income data set as that is the only way to join the two.

We will begin first by dropping columns that have majority of 0 data and hard to work with location data. Then we will verify that all car data is from Washington.

In [28]:
electric_vehicle_df.drop(columns=["Electric Range", "Base MSRP", "Vehicle Location", "2020 Census Tract"], inplace=True)

In [29]:
print(electric_vehicle_df.loc[electric_vehicle_df['State'] != "WA"].count())

VIN (1-10)                                           341
County                                               338
City                                                 338
State                                                341
Postal Code                                          338
Model Year                                           341
Make                                                 341
Model                                                341
Electric Vehicle Type                                341
Clean Alternative Fuel Vehicle (CAFV) Eligibility    341
Legislative District                                   0
DOL Vehicle ID                                       341
Electric Utility                                     338
dtype: int64

In [30]:
print(electric_vehicle_df['Legislative District'].isnull().sum())

341

In [31]:
electric_vehicle_df = electric_vehicle_df.loc[electric_vehicle_df['State'] == "WA"]

In [32]:
print(electric_vehicle_df['Legislative District'].isnull().sum())

0

##### TODO FOR VEHICLE DF
Remove Noisy Location Data

Outliers

T Score check

Scaling

## Explore Washington Income Data

In [63]:
income_df = pd.read_csv("./data/median_household_income_estimates.csv",  thousands=',')

In [64]:
income_df.head()

,Unnamed: 0,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Washington,31183.0,33417.0,34379.0,35882.0,36679.0,37895.0,38997.0,40568.0,42399.0,...,57284.0,60153.0,63439.0,65500.0,69288.0,72297.0,78674.0,80319.0,84155.0,86343.0
2,Adams,24604.0,28024.0,27301.0,28328.0,31277.0,29537.0,29604.0,31806.0,31795.0,...,43541.0,45712.0,47646.0,49501.0,48849.0,52870.0,53535.0,56421.0,57405.0,58406.0
3,Asotin,22897.0,24206.0,25110.0,26251.0,27359.0,27873.0,28288.0,29813.0,31499.0,...,42174.0,43368.0,46107.0,47020.0,51767.0,50746.0,54776.0,53377.0,56438.0,59675.0
4,Benton,32593.0,35012.0,37093.0,39228.0,41153.0,42790.0,42540.0,42817.0,44057.0,...,63710.0,63157.0,62071.0,62282.0,63502.0,67912.0,72847.0,75882.0,77339.0,78824.0

In [65]:
#Change First column name
income_df.rename(columns={'Unnamed: 0':'County'}, inplace=True)

#Drop First row of Nan Values
income_df = income_df.iloc[1:]

In [66]:
#Explore
print('Shape\n', income_df.shape)
print('\n')
print("Duplicates\n", income_df.duplicated().sum())
print('\n')
print('Null\n', income_df.isnull().sum())
print('\n')
print('Describe\n', income_df.describe())
print('\n')
print('Columns\n', income_df.columns)
print('\n')
print('Correlation\n', income_df.corr())

Shape
 (40, 35)


Duplicates
 0


Null
 County    0
1989      0
1990      0
1991      0
1992      0
1993      0
1994      0
1995      0
1996      0
1997      0
1998      0
1999      0
2000      0
2001      0
2002      0
2003      0
2004      0
2005      0
2006      0
2007      0
2008      0
2009      0
2010      0
2011      0
2012      0
2013      0
2014      0
2015      0
2016      0
2017      0
2018      0
2019      0
2020      0
2021      0
2022      0
dtype: int64


Describe
                1989          1990          1991          1992          1993  \
count     40.000000     40.000000     40.000000     40.000000     40.000000
mean   26374.550000  28223.725000  28954.125000  30205.675000  31392.025000
std     4189.680852   4575.695519   4753.131595   4889.560986   4807.684322
min    20029.000000  20580.000000  21596.000000  22449.000000  23372.000000
25%    23469.500000  25260.500000  25765.250000  27062.750000  28112.000000
50%    25183.500000  27333.000000  27726.500000  28713.000000  30425.000000
75%    28873.750000  31164.750000  31972.250000  32734.000000  33367.000000
max    36847.000000  38820.000000  39868.000000  41670.000000  42418.000000

               1994          1995          1996         1997          1998  \
count     40.000000     40.000000     40.000000     40.00000     40.000000
mean   32175.850000  33080.125000  34958.750000  36350.22500  37903.975000
std     5177.842762   5111.516957   5063.858551   5539.36342   5848.053989
min    24299.000000  25495.000000  27425.000000  28047.00000  29174.000000
25%    28890.500000  29738.000000  31715.000000  32275.00000  34017.500000
50%    30952.000000  32004.000000  33966.000000  35291.00000  36506.000000
75%    34560.500000  35753.000000  37425.250000  39120.25000  41249.750000
max    43810.000000  45397.000000  47416.000000  50680.00000  52342.000000

       ...          2013          2014          2015          2016  \
count  ...     40.000000     40.000000     40.000000     40.000000
mean   ...  49105.825000  50761.650000  52249.075000  53798.975000
std    ...   8479.525265   8890.276355   9296.208398   9640.808641
min    ...  35934.000000  35146.000000  39807.000000  41028.000000
25%    ...  43127.750000  43288.500000  46376.750000  47674.750000
50%    ...  46956.500000  50258.500000  49947.500000  51704.000000
75%    ...  56069.750000  58073.750000  58063.000000  59401.000000
max    ...  71122.000000  75045.000000  80998.000000  84897.000000

               2017          2018           2019           2020          2021  \
count     40.000000     40.000000      40.000000      40.000000      40.00000
mean   56172.150000  58688.800000   63475.400000   65179.150000   68643.10000
std    10595.511509  11385.997773   11918.262403   12337.837261   12836.10536
min    42276.000000  42212.000000   44777.000000   47722.000000   50565.00000
25%    47608.250000  50681.750000   56172.000000   55953.000000   60149.50000
50%    54732.500000  57341.500000   60379.000000   61822.500000   64696.00000
75%    60910.250000  64339.000000   69125.500000   74870.250000   75550.75000
max    88466.000000  93707.000000  102338.000000  102620.000000  110351.00000

                2022
count      40.000000
mean    71369.700000
std     14150.220066
min     52989.000000
25%     62709.500000
50%     67443.000000
75%     78158.000000
max    118664.000000

[8 rows x 34 columns]


Columns
 Index(['County', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'],
      dtype='object')


Correlation
           1989      1990      1991      1992      1993      1994      1995  \
1989  1.000000  0.991607  0.990334  0.988658  0.975184  0.970436  0.973580
1990  0.991607  1.000000  0.992162  0.988072  0.977121  0.965072  0.967696
1991  0.990334  0.992162  1.000000  0.996511  0.984587  0.980112  0.978148
1992  0.988658  0.988072  0.996511  1.000000  0.993372  0.985506  0.987200
1993  0.975184  0.977121  0.984587  0.993372  1.000000  0.981903  0.986921
1994  0.970436  0.965072  0.980112  0.985506  0.981903  1.000000  0.985187
1995  0.973580  0.967696  0.978148  0.987200  0.986921  0.985187  1.000000
1996  0.962114  0.956219  0.959191  0.971184  0.976778  0.958762  0.987955
1997  0.965271  0.954039  0.962779  0.971064  0.970470  0.966961  0.988086
1998  0.959561  0.946852  0.958030  0.967032  0.969934  0.962108  0.985540
1999  0.954065  0.941777  0.954549  0.961706  0.960105  0.967484  0.982346
2000  0.876521  0.867569  0.874796  0.898238  0.913825  0.896148  0.924969
2001  0.870568  0.865319  0.874156  0.897038  0.915093  0.901502  0.925615
2002  0.871480  0.866390  0.878921  0.900890  0.918573  0.907957  0.925847
2003  0.872210  0.864800  0.877437  0.901339  0.921309  0.904397  0.923957
2004  0.884313  0.872655  0.889200  0.911430  0.925353  0.919977  0.930114
2005  0.900473  0.891084  0.907995  0.923905  0.930250  0.932762  0.935621
2006  0.890113  0.870963  0.885540  0.900995  0.903685  0.909130  0.917281
2007  0.893519  0.878963  0.885337  0.903741  0.911755  0.902858  0.922822
2008  0.903854  0.891805  0.900332  0.916564  0.918795  0.901902  0.923677
2009  0.917360  0.908007  0.919895  0.932848  0.933314  0.928624  0.942602
2010  0.897710  0.889003  0.901719  0.918384  0.925950  0.925793  0.938195
2011  0.899813  0.890640  0.903591  0.919997  0.927201  0.926480  0.939312
2012  0.896816  0.889393  0.903025  0.918831  0.926502  0.927771  0.938743
2013  0.879331  0.872585  0.892584  0.907029  0.913187  0.921507  0.922529
2014  0.870607  0.863369  0.875351  0.893790  0.901851  0.905352  0.919231
2015  0.910182  0.900232  0.915372  0.923729  0.924635  0.929482  0.941980
2016  0.883724  0.873739  0.888023  0.897365  0.898157  0.903905  0.917891
2017  0.827637  0.820646  0.838914  0.849720  0.849602  0.863705  0.873954
2018  0.863888  0.857708  0.872682  0.879946  0.873573  0.891067  0.895737
2019  0.905659  0.900525  0.902899  0.914431  0.907572  0.909797  0.939713
2020  0.880980  0.871794  0.881710  0.891909  0.887731  0.890116  0.918390
2021  0.888595  0.881683  0.888750  0.898143  0.893295  0.894364  0.923586
2022  0.857800  0.854698  0.857287  0.864787  0.858667  0.854846  0.885631

          1996      1997      1998  ...      2013      2014      2015  \
1989  0.962114  0.965271  0.959561  ...  0.879331  0.870607  0.910182
1990  0.956219  0.954039  0.946852  ...  0.872585  0.863369  0.900232
1991  0.959191  0.962779  0.958030  ...  0.892584  0.875351  0.915372
1992  0.971184  0.971064  0.967032  ...  0.907029  0.893790  0.923729
1993  0.976778  0.970470  0.969934  ...  0.913187  0.901851  0.924635
1994  0.958762  0.966961  0.962108  ...  0.921507  0.905352  0.929482
1995  0.987955  0.988086  0.985540  ...  0.922529  0.919231  0.941980
1996  1.000000  0.988418  0.985178  ...  0.910880  0.915724  0.938038
1997  0.988418  1.000000  0.994778  ...  0.910806  0.918305  0.947570
1998  0.985178  0.994778  1.000000  ...  0.908238  0.922204  0.952133
1999  0.969362  0.984350  0.991031  ...  0.908157  0.923105  0.953770
2000  0.928880  0.921457  0.931218  ...  0.876077  0.893492  0.882029
2001  0.923194  0.920254  0.929600  ...  0.875822  0.896461  0.882466
2002  0.920991  0.919660  0.929354  ...  0.881383  0.900741  0.891950
2003  0.923739  0.920934  0.931010  ...  0.885717  0.900779  0.889178
2004  0.923984  0.922763  0.934418  ...  0.901669  0.914332  0.906792
2005  0.925120  0.933917  0.943450  ...  0.909662  0.916907  0.915502
2006  0.911574  0.926855  0.940122  ...  0.893874  0.916670  0.908911
2007  0.932722  0.933276  0.946613  ...  0.911226  0.940923  0.916508
2008  0.934172  0.930720  0.943656  ...  0.904040  0.924903  0.901264
2009  0.943325  0.942343  0.950165  ...  0.944283  0.950512  0.929429
2010  0.939051  0.936977  0.943732  ...  0.951864  0.961861  0.938037
2011  0.939979  0.937944  0.945247  ...  0.952495  0.961605  0.939031
2012  0.937410  0.936372  0.942188  ...  0.957372  0.966317  0.943954
2013  0.910880  0.910806  0.908238  ...  1.000000  0.968414  0.935876
2014  0.915724  0.918305  0.922204  ...  0.968414  1.000000  0.951373
2015  0.938038  0.947570  0.952133  ...  0.935876  0.951373  1.000000
2016  0.912722  0.924258  0.927575  ...  0.929230  0.955382  0.990158
2017  0.872041  0.882327  0.881158  ...  0.916958  0.943170  0.964924
2018  0.887850  0.899370  0.899096  ...  0.901524  0.918814  0.963356
2019  0.937752  0.942546  0.947144  ...  0.908525  0.938223  0.957153
2020  0.916112  0.915128  0.926547  ...  0.923753  0.930920  0.955614
2021  0.924895  0.926935  0.931206  ...  0.893464  0.915558  0.958955
2022  0.893187  0.892538  0.892041  ...  0.839708  0.870450  0.926315

          2016      2017      2018      2019      2020      2021      2022
1989  0.883724  0.827637  0.863888  0.905659  0.880980  0.888595  0.857800
1990  0.873739  0.820646  0.857708  0.900525  0.871794  0.881683  0.854698
1991  0.888023  0.838914  0.872682  0.902899  0.881710  0.888750  0.857287
1992  0.897365  0.849720  0.879946  0.914431  0.891909  0.898143  0.864787
1993  0.898157  0.849602  0.873573  0.907572  0.887731  0.893295  0.858667
1994  0.903905  0.863705  0.891067  0.909797  0.890116  0.894364  0.854846
1995  0.917891  0.873954  0.895737  0.939713  0.918390  0.923586  0.885631
1996  0.912722  0.872041  0.887850  0.937752  0.916112  0.924895  0.893187
1997  0.924258  0.882327  0.899370  0.942546  0.915128  0.926935  0.892538
1998  0.927575  0.881158  0.899096  0.947144  0.926547  0.931206  0.892041
1999  0.926594  0.884412  0.912087  0.955469  0.938028  0.940616  0.898423
2000  0.850756  0.823539  0.820036  0.904899  0.874876  0.875590  0.831187
2001  0.849003  0.826241  0.818150  0.899283  0.871013  0.873247  0.828537
2002  0.857271  0.835612  0.829038  0.900256  0.869876  0.873477  0.829032
2003  0.854072  0.826980  0.820582  0.892187  0.865450  0.864067  0.819692
2004  0.876151  0.844924  0.846195  0.905923  0.883292  0.874869  0.827106
2005  0.882616  0.857765  0.859597  0.918916  0.893063  0.889236  0.840563
2006  0.880325  0.860438  0.863458  0.923579  0.902239  0.887595  0.833777
2007  0.889624  0.866647  0.850583  0.932591  0.921755  0.896580  0.846612
2008  0.873809  0.852428  0.848126  0.930208  0.907830  0.884178  0.835125
2009  0.898489  0.874879  0.872148  0.936449  0.941358  0.912459  0.859617
2010  0.905302  0.886852  0.880966  0.932729  0.942680  0.919618  0.872356
2011  0.906223  0.886666  0.882209  0.933332  0.943947  0.919968  0.872362
2012  0.912026  0.893409  0.892967  0.933478  0.941474  0.922537  0.877643
2013  0.929230  0.916958  0.901524  0.908525  0.923753  0.893464  0.839708
2014  0.955382  0.943170  0.918814  0.938223  0.930920  0.915558  0.870450
2015  0.990158  0.964924  0.963356  0.957153  0.955614  0.958955  0.926315
2016  1.000000  0.978191  0.964113  0.944734  0.937231  0.941251  0.908345
2017  0.978191  1.000000  0.963492  0.921507  0.909005  0.922391  0.891534
2018  0.964113  0.963492  1.000000  0.931708  0.922535  0.937424  0.904645
2019  0.944734  0.921507  0.931708  1.000000  0.953412  0.962707  0.928867
2020  0.937231  0.909005  0.922535  0.953412  1.000000  0.953863  0.896752
2021  0.941251  0.922391  0.937424  0.962707  0.953863  1.000000  0.983549
2022  0.908345  0.891534  0.904645  0.928867  0.896752  0.983549  1.000000

[34 rows x 34 columns]

C:\Users\riley\AppData\Local\Temp\ipykernel_4424\1478213490.py:13: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print('Correlation\n', income_df.corr())